*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-image: url(../img/index/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.avtomat {
    position: static;
    width: 100%;
    height: 40vw;
}

.avtomat__img {
    position: absolute;
    
}

.planet-avtomat {
    left: 55vw;
    top: 20vw;
    width: 30vw;
    z-index: 2;
}

.planet-avtomat:hover + .kapli-avtomat {
    display:block;
    left: 49vw;
    top: 10vw;
    width: 41vw;
    transform: rotate(5deg);
    filter: drop-shadow(0 0 20px #ffffff);
    animation: appear 0.4s alternate forwards;
}

.kapli-avtomat {
    display: none;
    width: 22vw;
    top: 22vw;
    left: 59vw;
    z-index: 1;
    transition: 0.5s;
   
}


/* case section */

.case {
    position: relative;
    width: 100%;
    height: 50vw;
}

.case__img {
    position: absolute;
    
}

.planet-case {
    left: 10vw;
    top: 13vw;
    width: 42vw;
    z-index: 2;
}

.planet-case:hover + .kapli-case {
    display:block;
    left: 9vw;
    top: 7vw;
    width: 44vw;
    transform: rotate(5deg);
    filter: drop-shadow(0 0 20px #ffffff);
    animation: appear 0.4s alternate forwards;
}

.kapli-case {
    display: none;
    width: 22vw;
    top: 17vw;
    left: 19vw;
    z-index: 1;
}


/* ruletka section */
.ruletka {
    position: relative;
    width: 100%;
    height: 60vw;
}

.ruletka__img {
    position: absolute;
    
}

.planet-ruletka {
    left: 50vw;
    top: 11vw;
    width: 37vw;
    z-index: 2;
}

.planet-ruletka:hover + .kapli-ruletka {
    display:block;
    left: 40vw;
    top: 5vw;
    width: 55vw;
    transform: rotate(5deg);
    filter: drop-shadow(0 0 20px #ffffff);
    animation: appear 0.4s alternate forwards;
}

.kapli-ruletka {
    display: none;
    width: 22vw;
    top: 17vw;
    left: 55vw;
    z-index: 1;
    transition: 0.5s;
   
}


/* cart section */



.cart {
    position: relative;
    width: 100%;
    height: 60vw;
}

.cart__img {
    position: absolute;
    
}

.planet-cart {
    left: 11vw;
    top: 6vw;
    width: 37vw;
    z-index: 2;
}

.planet-cart:hover + .kapli-cart {
    display:block;
    left: 6vw;
    top: 5vw;
    width: 45vw;
    transform: rotate(5deg);
    filter: drop-shadow(0 0 20px #ffffff);
    animation: appear 0.4s alternate forwards;
}

.kapli-cart {
    display: none;
    width: 20vw;
    top: 17vw;
    left: 20vw;
    z-index: 1;
    transition: 0.5s;
   
}
