{% extends 'base.html' %}

{% block content %}
    <div class="ramka">
        <form action="{% url 'login' %}" method="post">
            <div class="ramka_input_login">
                <i class="fi fi-rr-user"></i>
                <input class="input_login" type="text" placeholder="Login" name="input_login" />
            </div>
            <div class="ramka_input_password">
                <i class="fi fi-rr-lock"></i>
                <input class="input_password" type="password" placeholder="Password" name="input_password" />
            </div>
            <div class="button_r_a">
                <p class="error_name_or_pas" style="display: {{ error_display_login }}">Invalid login or password</p>
                <input type="submit" value="Login" name="btn_login" />
                <a class="a_r" href="{% url 'register' %}">Register</a>

            </div>
        </form>
    </div>

{% endblock %}