<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100PING</title>
    <link rel="shortcut icon" href="../static/img/header/logo.png" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
    <header>
        <div class="Logo">
            <a href="{% url 'home' %}"><img src="../static/img/header/logo.png"  class="logo"></a>
        </div>
        <div class="menu">
            <ul class="navigator">
                <li><a class="header-list_a" href="#"><img src="../static/img/header/cart.png" class="header-list_img"></a></li>
                <li><a class="header-list_a" href="{% url 'ruletka' %}"><img src="../static/img/header/ruletka.png" class="header-list_img"></a></li>
                <li><a class="header-list_a" href="{% url 'case' %}"><img src="../static/img/header/case.png" class="header-list_img"></a></li>
                <li><a class="header-list_a" href="#"><img src="../static/img/header/avtomat.png" class="header-list_img"></a></li>
            </ul>
            <ul class="login_ul">
                {% if request.user.is_authenticated %}
                <li>
                    <div class="user">
                        <ul class="user_token">
                            <li class="t"><a href="{% url 'login' %}">  
                                <p class="p_baza">{{user.username}}</p>
                                <p class="p_baza_2">Tokens: {{user.token}}</p>
                            </a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li><a class="login" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
    <footer>
        
    </footer>
</body>
<script>

</script>


</html>