<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kazik</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
    <header>
        <div class="Logo">
            <a class="logo" href="{% url 'home' %}"><p class="logo">Logo</p></a>
        </div>
        <div class="menu">
            <ul class="navigator">
                <li class="baraban"><a href="#"><img src="../static/img/header/rouletka.png" alt="baraban"></a></li>
                <li><a class="rul" href="#"><img src="../static/img/header/slot_machine.png" alt="rouletka"></a></li>
                <li><a class="case" href="#"><img src="../static/img/header/case.png" alt=""></a></li>
                <li><a class="dice" href="#"><img src="../static/img/header/cube.png" alt=""></a></li>
            </ul>
            <ul class="login_ul">
                {% if request.user.is_authenticated %}
                <li>
                    <div class="user">
                        <a href="#">
                            <ul class="user_token">
                                <li class="t"><a href="{% url 'login' %}">
                                    <p class="p_baza">{{user.username}}</p>
                                    <p class="p_baza">Tokens:{{user.token}}</p>
                                </a></li>
                            </ul>
                        </a>
                    </div>
                </li>
                {% else %}
                <li><a class="login" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    
    
    
    {% block content %}
    {% endblock %}
    <footer>
        
    </footer>
</body>
</html>