{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/games/cards.css' %}">
<script src="{% static 'js\update_balance.js'%}"></script> 
<script src='{% static "js\games\cards.js" %}'></script>

    <div class="div_ramka">
        <!-- card -->

        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        <div class="card center">
            <div class="front">
                <button onclick="card_check()">
                        <img class='front_img' src="{% static 'img/games/cards/playing-card.png' %}" alt="">
                </button>

            </div>
            <div class="back center">
                <button onclick="card_check()">
                        <img class='back_img' src='{% static "img/games/cards/cards.png" %}' alt="">

                </button>
            </div>
        </div>
        




    </div>
    

{% endblock %}