{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/games/case.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/jquery.js' %}"></script> 
<script src="{% static 'js\update_balance.js'%}"></script> 




<div class="ramka">
  <div class="game">
    <div class='roulette-wrapper'>
      <div class='selector'></div>
      <div class='wheel'></div>
    </div>
    
    <div>
      <button>
        5 Tokens
      </button>
    </div>
  </div>
</div>

<script>

const url_updateBalance = '{% url "update_balance" %}';
const url_permission = '{% url "permission" %}';
const url_win_lose = '{% url "win_lose" %}';


$(document).ready(function() {
  //setup multiple rows of colours, can also add and remove while spinning but overall this is easier.
  initWheel();
 
  $('button').on('click', function(){
    var outcome = parseInt(Math.random(15)* 15);


    permission(5,url_permission, function() { // Используем анонимную функцию
      spinWheel(outcome);  // Вызываем spinWheel только после успеха
      
      // Логика игры
      var win = 0; 
      var kol = 5; 
      if (outcome >= 1 && outcome <= 7) {
        win = 1;
        kol = 2;
      } 

      // Вызов AJAX для обновления баланса и отправки результатов игры
      ajax_request(win, kol,url_win_lose,url_updateBalance); // Передаем значения win и kol в ajax_request

      // Таймер для обновления баланса
      //setTimeout(updateBalance, 5000);
    });
  });
});

function initWheel(){
	var $wheel = $('.roulette-wrapper .wheel'),
  		row = "";
      
  row += "<div class='row'>";
  row += "  <div class='card red'>1<\/div>";
  row += "  <div class='card black'>14<\/div>";
  row += "  <div class='card red'>2<\/div>";
  row += "  <div class='card black'>13<\/div>";
  row += "  <div class='card red'>3<\/div>";
  row += "  <div class='card black'>12<\/div>";
  row += "  <div class='card red'>4<\/div>";
  row += "  <div class='card green'>0<\/div>";
  row += "  <div class='card black'>11<\/div>";
  row += "  <div class='card red'>5<\/div>";
  row += "  <div class='card black'>10<\/div>";
  row += "  <div class='card red'>6<\/div>";
  row += "  <div class='card black'>9<\/div>";
  row += "  <div class='card red'>7<\/div>";
  row += "  <div class='card black'>8<\/div>";
  row += "<\/div>";
  
	for(var x = 0; x < 29; x++){
  	$wheel.append(row);
  }
}

function spinWheel(roll){
  var $wheel = $('.roulette-wrapper .wheel'),
  		order = [0, 11, 5, 10, 6, 9, 7, 8, 1, 14, 2, 13, 3, 12, 4],
      position = order.indexOf(roll);
            
  //determine position where to land
  var rows = 12,
  		card = 75 + 3 * 2,
      landingPosition = (rows * 15 * card) + (position * card);
  	
  var randomize = Math.floor(Math.random() * 75) - (75/2);
    
  landingPosition = landingPosition + randomize;
    
  var object = {
		x: Math.floor(Math.random() * 50) / 100,
    y: Math.floor(Math.random() * 20) / 100
	};
  
  $wheel.css({
		'transition-timing-function':'cubic-bezier(0,'+ object.x +','+ object.y + ',1)',
		'transition-duration':'6s',
		'transform':'translate3d(-'+landingPosition+'px, 0px, 0px)'
	});
  
  setTimeout(function(){
		$wheel.css({
			'transition-timing-function':'',
			'transition-duration':'',
		});
    
    var resetTo = -(position * card + randomize);
		$wheel.css('transform', 'translate3d('+resetTo+'px, 0px, 0px)');
  }, 6 * 1000);
}


</script>
{% endblock %}