{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/games/case.css' %}">

<script src="{% static 'js/jquery.js' %}"></script>
<!-- <script src="/static/js/update_balance.js"></script> -->

<div class="game">
    <img class="img_case" src="/static/img/header/case.png">
    <button class="button_case" type="button" onclick=checkTokens()>5 Tokens</button>
</div>

<script>

function checkTokens() {
    $.ajax({
        type: 'POST',
        url: "{% url 'game_case' %}",
        success: function(response) {
            if (response.balance) {
                $('.p_baza_2').text('Tokens: '+ response.balance);
      } else if (response.status === false) {
        alert('Недостаточно токенов');
      } else {
        console.error('not ajax')
      }
    },
    error: function(error) {
      console.error('Error occurred:', error);
    }
  });
}

</script>
{% endblock %}