{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/games/ruletka.css' %}">

<div class="ruletka">
    <div class="ruletka_box">
    <button id="spin" onclick="rotateElem">Spin</button>
    <span class="arrow"></span>
    <img src="/static/img/games/ruletka/roulette.png" id="ruletka" class="img_rul">
  </div>
</div>

<script>
  function rotateElem() {
    const img = document.querySelector('.img_rul');
    img.style.transformOrigin = 'top left'; // Adjust as needed
    img.style.transform = 'rotate(90deg)';
    
  }

</script>

{% endblock %}